version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: bookstore_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: bookstore
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  app:
    build: .
    container_name: bookstore_app
    ports:
      - "19072:8000"
    environment:
      - DB_HOST=db
      - DB_PORT=3306
      - DB_USER=user
      - DB_PASSWORD=password
      - DB_NAME=bookstore
      - SQLALCHEMY_DATABASE_URI=mysql+pymysql://user:password@db:3306/bookstore
    depends_on:
      - db
    restart: always

volumes:
  db_data:
